@import "./variables.scss";

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: $theme-colour-1;
  color: white;
  padding: 0.8em 1.2em;

  h1 {
    margin: 0;
  }
}

.instructions {
  max-width: 600px;
  margin: 0 auto;

  .cta {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    background-color: $theme-colour-1;
    color: white;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    display: inline-block;
  }
}