div.link-grid {
  display: grid;
  margin: 2em 0 1em 0;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.2em 1em;
  text-align: start;

  .fas, .fab {
    font-size: 1.3em;
  }

  p {
    margin: 0;
  }
}